
.css-h1{
  margin-left: 15px;
  color: rgb(8, 8, 179);
}
.css-p{
  margin-left: 16px;
}
.css-container{
  padding: 20px;
  text-align: center;
  margin-top: 10px;
}
.css-input{
  margin-left: 20px;
  width: 83%;
  height: 20px;
}
.css-button{
  background-color: blue;
  color: aliceblue;
  height: 27px;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  padding: 5px 10px;
  margin-left: 5px;
}
.css-img{
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

